body {
    margin: 0;
    background-image: url("/static/images/background.avif");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
}
body.verify {
    .clock {
        display: none;
    }
    .board {
        margin-top: 10svh;
        height: 90svh;
    }
    .rules {
        flex: 1;
    }
}
body:not(.verify) .operators {
    display: none;
}
body.verify {
    .bar {
        animation-duration: 20s !important;
    }
    .rule {
        display: flex;
    }
}

.state {
    display: none;
}
.state:not([data-state="waiting"]) {
    user-select: none;
}
.state.center {
    max-width: 800px;
    margin: 0 auto;
}
.state.active {
    display: block;
}

.clock {
    height: calc(100svh - 300px);
    text-align: center;

    svg {
        height: 100%;
    }
}

.board {
    background: linear-gradient(#4c62a7, #384792);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 300px;
    border-top: 4px solid #182b54;

    .target {
        border: 4px solid #182b54;
        background: #0100c4;
        padding: 10px;
        font-size: 60px;
        font-weight: bold;
        width: 185px;
        text-align: center;
    }

    .entities {
        border: 4px solid #182b54;
        gap: 6px;
        display: flex;
        background: #2360ac;
        padding: 2px;
        height: 72px;
    }

    .entity {
        background: #1e3792;
        font-weight: bold;
        font-size: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    .options {
        display: none;
    }
}

.starting .options {
    display: block;
}

.input {
    position: fixed;
    inset: 0;
    background: rgb(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    display: none;

    p {
        margin: 0;
    }
}
.input.active {
    display: flex;
}

.input.verifying > *,
.input.submit > * {
    width: 200px;
}

.timer {
    height: 4px;
    width: 100%;

    .bar {
        width: 0;
        height: 4px;
        background: #1e3792;
    }
}

.input.active .bar,
.verify .bar {
    animation: fillBar 5s linear forwards;
}

@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.rule {
    display: none;
    align-items: center;
    gap: 8px;
}
