{% block static %}
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

    {% assets "game_js" %}
        <script>
            const PLAYER = {{ current_user.serialize_player()|tojson|safe }};
            const GAME = {{ room.serialize_game()|tojson|safe }};

        </script>
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "game_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="input" id="input">
        <div class="timer">
            <div class="bar"></div>
        </div>

        <input type="text" placeholder="Your answer" oninput="this.nextElementSibling.innerText=(!this.value?'No input':'Saved');">
        <p>No input</p>
    </div>

    <div class="state center{% if room.state.value == 0 %} active{% endif %}" data-state="waiting">
        Invite people with code <b>{{ room.id }}</b> <br>
        Or with link <a href="#" onclick="navigator.clipboard.writeText(this.innerText);alert('Link copied to clipboard!');return false;">{{ request.scheme }}://{{ request.host }}/l?id={{ room.id }}</a>
        <ul id="players">
            <b>All players</b>
            {% for player in room.players %}
                <li>{{ player.username }}{% if player.id == current_user.id %} (You){% endif %}</li>
            {% endfor %}
    
            {% if current_user.id == room.creator.id %}
                <button onclick="game.notifyReady()"{% if room.players|length < room.team_size * 2 %} disabled{% endif %}>Start</button>
            {% endif %}
        </ul>
    
        {% if room.team_size == 2 %}
            <ul id="team-1">
                <b>Team 1</b>
            </ul>
            <ul id="team-2">
                <b>Team 2</b>
            </ul>
        {% endif %}
    </div>

    <div class="state center" data-state="round-new"></div>
    <div class="state{% if room.state.value == 2 %} active{% endif %}" data-state="round-letters">
        <div class="clock">
            {% include "game/clock.html" %}
        </div>
        <div class="board">
            <div class="entities" style="width:600px;" id="letter-entities"></div>
    
            <div class="options">
                <button onclick="game.roundPick(1, this)">Vowel</button>
                <button onclick="game.roundPick(0, this)">Consonant</button>
            </div>
        </div>
    </div>
    <div class="state{% if room.state.value == 3 %} active{% endif %}" data-state="round-numbers">
        <div class="clock">
            {% include "game/clock.html" %}
        </div>
        <div class="board">
            <div class="target" id="number-target">XXX</div>
            <div class="entities" style="width:402px;" id="number-entities"></div>

            <div class="options">
                <button onclick="game.roundPick(1, this)">Large</button>
                <button onclick="game.roundPick(0, this)">Small</button>
            </div>
        </div>
    </div>
    <div class="state" data-state="round-conundrum"></div>
{% endblock %}